<div class="outer" id="outer">
  <div class="social-div">
    <a href="mailto:matiaskupfersubi@gmail.com" target="_blank">
      <img src="./assets/images/icons/gmail.svg" alt="gmail">
    </a>
    <a href="https://www.linkedin.com/in/matias-kupfer/" target="_blank">
      <img src="./assets/images/icons/linkedin.svg" alt="linkedin">
    </a>
    <a href="https://t.me/matiaskupfer/" target="_blank">
      <img src="./assets/images/icons/telegram.svg" alt="telegram">
    </a>
    <a href="https://github.com/matiascfgm/" target="_blank">
      <img src="./assets/images/icons/github.svg" alt="github">
    </a>
    <a href="https://matiascfgm.github.io/yourpage/" target="_blank">
      <img src="./assets/images/icons/yourpageIcon.png" alt="yourpage">
    </a>
  </div>

  <div class="cover-page">
    <!--<video autoplay [muted]="true" loop id="myVideo">
      <source src="./assets/IMG_0073.MOV" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>-->
    <div class="center">
      <h1 id="x">WELCOME, I'M <br><span>MATIAS KUPFER</span></h1>
      <div class="presentation-card">
        <img class="portrait" src="./assets/images/portrait.jpeg" alt="Portrait">
        <div class="icons">
          <img src="./assets/images/icons/angular.svg">
          <img src="./assets/images/icons/flutter.svg">
          <img src="./assets/images/icons/typescript.svg">
          <img src="./assets/images/icons/sass.svg">
          <img src="./assets/images/icons/firebase.png">
          <img src="./assets/images/icons/node-js.svg">
        </div>
        <p>Web and mobile application
          developer (Android & IOS),
          passionate about tech,
          programming, stocks, sport and
          technologies for a sustainable future.
          Certificate of Higher Education and
          largely self-taught.
          Angular, Typescript, Node.js, SCSS,
          Firebase, Flutter and more.</p>
      </div>
    </div>
  </div>

  <br>

  <div class="about section">
    <h1 class="title">ABOUT</h1>
    <p>My name is Matias. I’m a 21 years old Spanish guy who likes <span id="purple">programming</span>,
      <span id="orange">tech</span>, <span id="pink">podcasts</span>, <span id="green">stocks</span> and
      <span id="blue">traveling</span>. I’m mostly self-taught but I have a <span>Certificate of Higher Education on Web
        Application Development</span>.</p>
    <p><span>HTML</span>, <span>CSS</span>, <span>Javascript</span>, <span>Java</span>, <span>Typescript</span>,
      <span>Angular</span>, <span>Node.js</span> and <span>Flutter</span> are the languages and frameworks I know and
      use
      the most. I’ve used angular for over a year now and together with node and <span>Firebase</span> I’ve been able
      to
      develop the websites you can see below. </p>
    <p>I’ve learned mostly everything by myself and by working as front-end developer.
      A lot of my free time I spend it <span>learning</span> and <span>developing</span> new things.</p>
    <p>I also have a degree on <span>Microcomputer systems and networks</span> where I learned server
      configuration using both <span>linux</span> and <span>windows server</span>. Also about networks and security.
    </p>
  </div>

  <br>

  <div class="projects-container section">
    <h1 class="title">PROJECTS</h1>
    <div class="project">
      <div class="top">
        <h2>YOURPAGE</h2>
        <div class="buttons-top">
          <button class="margin" matRipple><a href="https://github.com/matiascfgm/yourpage" target="_blank">Code</a>
          </button>
          <button class="margin" matRipple><a href="https://matiascfgm.github.io/yourpage/" target="_blank">Website</a>
          </button>
        </div>
      </div>
      <h3>DESCRIPTION</h3>
      <p>Personal blog where anyone to sign up, set up a profile and start posting and interacting with
        other accounts. It uses Angular as front-end framework which connects to Firebase via websockets and the
        API programmed in node.js using HTTP.</p>
      <mat-chip-list>
        <mat-chip color="primary" selected>HTML</mat-chip>
        <mat-chip color="primary" selected>CSS</mat-chip>
        <mat-chip color="primary" selected>Typescript</mat-chip>
        <mat-chip color="primary" selected>Angular</mat-chip>
        <mat-chip color="primary" selected>Node.js</mat-chip>
        <mat-chip color="primary" selected>Express.js</mat-chip>
        <mat-chip color="primary" selected>Firebase</mat-chip>
      </mat-chip-list>
      <div class="buttons-bottom">
        <button class="code" matRipple><a href="https://github.com/matiascfgm/yourpage" target="_blank">Code</a>
        </button>
        <button class="website" matRipple><a href="https://matiascfgm.github.io/yourpage/" target="_blank">Website</a>
        </button>
      </div>
    </div>
    <br><br>
    <div class="project">
      <div class="top">
        <h2>UNO GAME</h2>
        <div class="buttons-top">
          <button class="margin" matRipple><a href="https://github.com/matiascfgm/uno-game" target="_blank">Code</a>
          </button>
          <button class="margin" matRipple><a href="https://matiascfgm.github.io/uno-game/" target="_blank">Website</a>
          </button>
        </div>
      </div>
      <h3>DESCRIPTION</h3>
      <p>Web application based on card game. Anyone can create or join a game using a code and a password.
        Front end uses Angular and SCSS with responsive design. Firebase websockets allow realtime playing.</p>
      <mat-chip-list>
        <mat-chip color="primary" selected>HTML</mat-chip>
        <mat-chip color="primary" selected>CSS</mat-chip>
        <mat-chip color="primary" selected>Angular</mat-chip>
        <mat-chip color="primary" selected>Typescript</mat-chip>
        <mat-chip color="primary" selected>Express.js</mat-chip>
        <mat-chip color="primary" selected>Firebase</mat-chip>
        <mat-chip color="primary" selected>Node.js</mat-chip>
      </mat-chip-list>
      <div class="buttons-bottom">
        <button class="code" matRipple><a href="https://github.com/matiascfgm/uno-game" target="_blank">Code</a>
        </button>
        <button class="website" matRipple><a href="https://matiascfgm.github.io/uno-game/" target="_blank">Website</a>
        </button>
      </div>
    </div>
    <br><br>
    <div class="project">
      <div class="top">
        <h2>YOURPAGE APP</h2>
        <div class="buttons-top">
          <button class="margin" matRipple><a href="https://github.com/matiascfgm/yourpage-flutter-app" target="_blank">Code</a>
          </button>
        </div>
      </div>
      <h3>DESCRIPTION</h3>
      <p>Android & IOS app made with flutter based on Yourpage application which connects to the same backend as
        the web client allowing the same functions to be done from a mobile device.
        Made with flutter using dart and Firebase as back-end.</p>
      <mat-chip-list>
        <mat-chip color="primary" selected>Flutter</mat-chip>
        <mat-chip color="primary" selected>Dart</mat-chip>
        <mat-chip color="primary" selected>Firebase</mat-chip>
        <mat-chip color="primary" selected>Express.js</mat-chip>
        <mat-chip color="primary" selected>Node.js</mat-chip>
      </mat-chip-list>
      <div class="buttons-bottom">
        <button style="width: 100%" matRipple>
          <a href="https://github.com/matiascfgm/yourpage-flutter-app" target="_blank">Code</a></button>
      </div>
    </div>
    <br><br>
    <p style="margin: 0">All projects:</p>
    <div class="more-projects">
      <button class="github"><a href="https://github.com/matiascfgm" target="_blank">Github</a></button>
    </div>
  </div>

  <br>
  <!------------------------------>
  <!-----------KNWOLEDGE---------->
  <!------------------------------>
  <div class="section knowledge">
    <h1 class="title">KNOWLEDGE</h1>
    <mat-chip-list>
      <mat-chip color="primary" selected>HTML</mat-chip>
      <mat-chip color="primary" selected>CSS</mat-chip>
      <mat-chip color="primary" selected>Javascript</mat-chip>
      <mat-chip color="primary" selected>SCSS</mat-chip>
      <mat-chip color="primary" selected>Angular</mat-chip>
      <mat-chip color="primary" selected>Typescript</mat-chip>
      <mat-chip color="primary" selected>Express.js</mat-chip>
      <mat-chip color="primary" selected>Firebase</mat-chip>
      <mat-chip color="primary" selected>Node.js</mat-chip>
      <mat-chip color="primary" selected>Flutter</mat-chip>
      <mat-chip color="primary" selected>Dart</mat-chip>
    </mat-chip-list>
    <br>
    <h3>HTML, CSS & Javascript</h3>
    <p>Over four years of experience developing websites with responsive design and javascript.</p>
    <h3>Angular</h3>
    <ul>
      <li><p>Web application development</p></li>
      <li><p>Angular material components</p></li>
      <li><p>Backend petitions to back-end API REST services validating data and displaying it on the app</p></li>
      <li><p>Creation and validation of Angular reactive forms.</p></li>
      <li><p>Responsive web design using SCSS</p></li>
      <li><p>Use of external libraries such as Firebase to storage data, Fireauth to handle authentication as well as
        AUTH0, Google maps api, ngx charts and others
      </p></li>
    </ul>
    <h3>Typescript</h3>
    <ul>
      <li><p>Promise handling and observables in order to get asynchronous data</p></li>
      <li><p>Creation of components, interfaces and classes to ensure clean and readable code</p></li>
      <li><p>HTTP petitions with parameters</p></li>
    </ul>
    <h3>Node.js</h3>
    <ul>
      <li><p>Use of typescript as language</p></li>
      <li><p>Implementation of Express framework</p></li>
      <li><p>Petition handling with parameters</p></li>
      <li><p>Firebase CRUD functions</p></li>
    </ul>
    <h3>Flutter</h3>
    <ul>
      <li><p>Knowledge of dart and widgets</p></li>
      <li><p>Use of futures to handle asynchronous data</p></li>
      <li><p>Firebase implementation</p></li>
      <li><p>Flutter packages such as http, provider and more</p></li>
    </ul>
    <h3>General</h3>
    <ul>
      <li><p>Clean, optimized and commented code.</p></li>
      <li><p>Git knowledge to version control</p></li>
      <li><p>Linux and Windows server configuration</p></li>
      <li><p>Network interfaces</p></li>
      <li><p>Basic level of SQL & PHP</p></li>
    </ul>
  </div>
  <div class="section">
    <h1 class="title">CONTACT</h1>
    <p>If you want to know more about me, offer me a job, hire me or anything else contact me below.</p>
  </div>
  <br><br><br><br><br>
</div>
<router-outlet></router-outlet>
