/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
}

*, h1, h2, h3, p, li, span {
  font-family: 'Poppins', sans-serif !important;
}
